<h1>Downloads#index</h1>
<p>Find me in app/views/downloads/index.html.erb</p>

	<p>hello world</p>
<%=form_tag '/downloads' do %>
<label>enter fund name</label><%= text_field_tag "enter_fund_name"%>
<%=select_tag "choose",options_for_select(['--sort by a column--','fund','Portfolio Manager','minimum investment','Expense ratio','net assets','1-Month Return','3-Month Return','1-Year Return','3-Year Return','5-Year Return','10-Year Return'])%>
<label>asc</label><%= radio_button_tag "select","asc"%>
<label>desc</label><%= radio_button_tag "select","desc"%>
<%= submit_tag "submit"%>
<%=params[:choose]%>
<br></br>
<label>or</label>
<br></br>
<%= select_tag "pick",options_for_select(['Minimum Investment','Expense Ratio','1-Month Return','3-Month Return','1-Year Return','3-Year Return','5-Year Return','10-Year Return','Net Assets'])%>
<label>min : </label><%= text_field_tag "enter_min_value"%>
<label>max : </label><%= text_field_tag "enter_max_value"%>
<%= submit_tag "hello"%>
<%end%>
<br></br>


<table border="1">
	<tr>
		<th>id</th>
		<th>Fund</th>
		<th>Rating</th>
		<th>Minimum Investment (Rs)</th>
		<th>Exit Load (Period)</th>
		<th>Expense Ratio</th>
		<th>Portfolio Manager (Tenure)</th>
		<th>1-Month Return</th>
		<th>1-Month Rank</th>
		<th>3-Month Return</th>
		<th>3-Month Rank</th>
		<th>1-Year Return</th>
		<th>1-Year Rank</th>
		<th>3-Year Return</th>
		<th>3-Year Rank</th>
		<th>5-Year Return</th>
		<th>5-Year Rank</th>
		<th>10-Year Return</th>
		<th>10-Year Rank</th>
		<th>Category</th>
		<th>Launch</th>
		<th>Net Assets (Cr)</th>
	</tr>
  <%@records.each do |record| %>
    <tr>
    	<td><%= record.id %></td>
      <td><%= record.fund %></td>
      <td><%= record.rating %></td>
      <td><%= record.minimum_investment %></td>
      <td><%= record.exit_load %></td>
      <td><%= record.expense_ratio %></td>
      <td><%= record.portfolio_manager %></td>
      <td><%= record.one_month_return %></td>
      <td><%= record.one_month_rank %></td>
      <td><%= record.three_month_return %></td>
      <td><%= record.three_month_rank %></td>
      <td><%= record.one_year_return %></td>
      <td><%= record.one_year_rank %></td>
      <td><%= record.three_year_return %></td>
      <td><%= record.three_year_rank %></td>
      <td><%= record.five_year_return %></td>
      <td><%= record.five_year_rank %></td>
      <td><%= record.ten_year_return %></td>
      <td><%= record.ten_year_rank %></td>
      <td><%= record.category %></td>
      <td><%= record.launch %></td>
      <td><%= record.net_assets %></td>
      
    </tr>
  <% end %>
</table>